@use '../variables' as *;

// Reference & Certification Badges (Über Mich Section)
.reference-wrapper {
    // margin-bottom: 1.5rem;
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-x1);

    .rating-badge {
        height: 47px;
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        background: white;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid #f3f4f6;
        color: #2b2f4e;

        .g-icon {
            font-size: var(--font-size-l);
            color: var(--text-dark);
        }

        &__content {
            display: flex;
            flex-direction: column;
            line-height: 1.25;
        }

        &__score {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-weight: 700;
            font-size: var(--font-size-s);

            .stars {
                font-size: var(--font-size-s);
                display: flex;
                gap: 1px;
                color: var(--orange);
            }
        }

        &__count {
            font-size: var(--font-size-s);
            color: var(--text-light);
        }
    }

    .certification-badge {
        height: 47px;
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        background: white;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid #f3f4f6;
        color: var(--text-main);

        &__logo {
            width: 2.4rem;
            margin-left: -10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__text {
            font-size: var(--font-size-s);
            line-height: 1.2;
            color: #2b2f4e;
        }

        &__seal {
            position: absolute;
            top: -10px;
            right: -25px;
            width: 2.8rem;
            height: auto;
            transform: rotate(15deg);
            pointer-events: none;
        }
    }

    .qualification-badge {
        height: 47px;
        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        background: white;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid #f3f4f6;
        color: #2b2f4e;

        i {
            font-size: var(--font-size-l);
        }

        &__text {
            font-size: var(--font-size-s);
            line-height: 1.2;
            color: var(--text-dark);
        }
    }
}

// Highlight Badge (used in Hero & Process sections)
.highlight-badge {
    position: absolute;
    // top: -1.25rem;
    // left: -12%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transform-origin: bottom right;
    background: var(--orange);
    color: white;
    text-align: left;
    /* border: 1px; */
    /* border-style: solid; */
    border-color: var(--orange);
    font-size: var(--font-size-s);
    // letter-spacing: 1px;
    // font-weight: 600;
    text-transform: none;
    letter-spacing: 0.06em;
    text-shadow: none;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    box-shadow: 5px 6px 8px var(--drop-shadow);
    z-index: 3;
    white-space: nowrap;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.2s ease;


    a {
        font-weight: 700;
        // text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: #fff;
        text-decoration-thickness: 1px;
    }

    &::after {
        content: "";
        z-index: 0;
        position: absolute;
        bottom: -5px;
        left: 91%;
        transform: translateX(-50%);
        border-left: 8px solid transparent;
        // border-right: 8px solid transparent;
        border-top: 12px solid var(--orange);

        // filter: drop-shadow(9px -4px 1.7px rgba(0, 0, 0, 0.167));
        // .is-desktop & {
        //     border-top: 12px solid #fff;
        // }
    }

    &.show {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }

    &__desktop-cta {
        top: 20%;
        left: -20%;
    }

    .is-desktop & {
        color: #16181b;
        background-color: #fff;

        a {
            text-decoration-color: #16181b;
        }

        &::after {
            border-top: 12px solid #fff;
        }
    }

}