@use '../variables' as *;

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
    font-family: 'Merriweather', serif;
    letter-spacing: -0.025em;
}

h1 {
    font-size: var(--font-size-xxl); // text-3xl
    font-weight: 700;
    color: var(--text-main);
    line-height: 1.33;
}

h3 {
    font-size: calc(var(--font-size-m) * 1.5);
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--text-main);
    line-height: 1.33;
    // margin-bottom: 1rem;
}

h4 {
    font-size: calc(var(--font-size-xl) + 1.5);
    font-weight: 700;
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    line-height: 1.33;
    // text-transform: uppercase;
}

p {
    color: var(--text-main);
}

.text-orange {
    color: var(--orange);
}

.text-light {
    color: var(--text-light);
}

.text-lighter {
    color: var(--text-lighter);
}

.ui-label {
    font-size: var(--font-size-s);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--orange);
    font-size: var(--font-size-s);
}

// Text Alignment Utilities
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.block-text {
    font-size: var(--font-size-m);
    color: var(--text-dark);
    hyphens: auto;
    text-align: justify;
}